body {
  padding: 0;
  margin: 0;
  background: #000;
}

.mainheader {
  padding: 1rem;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondaryheader {
  padding: 1rem;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}

.mainlogo {
  height: 50px;
  aspect-ratio: 1;
  background: url('logos/nba.jpg') no-repeat center;
  background-size: cover;
}

.datewrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datewrapper a {
  background: transparent;
  border: 1px solid transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 0;
  aspect-ratio: 1;
  text-decoration: none;
}

.date {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #666;
  margin: 0 .5rem;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin: 0 1rem;
}

.item {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  border: 2px solid #fff;
  padding: 0;
  overflow: hidden;
}

.team {
  flex: 1;
  z-index: 1;
  display: flex;
  justify-content: end;
  margin: 0;
  transition: transform 300ms;
}

.withscores .team.away {
  transform: translate(-50%);
}

.withscores .team.home {
  transform: translate(50%);
}

.logo {
  width: 110%;
  display: block;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item .team:last-child {
  display: flex;
  justify-content: start;
}

.flag {
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  border: 1px solid white;
  background: rgba(255, 255, 255, .1);
  padding: 5px 10px;
}
.flag.selected {
  background: rgba(255, 255, 255, .8);
  color: black;
}
.flag input {display: none}

.flag + .flag {
  margin-left: 1rem;
}

.score {
  position: absolute;
  font-family: "Bebas Neue";
  z-index: 0;
  font-size: 2rem;
  color: #666;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  line-height: 110px;
}
.score .winner {
  color: white;
}

.onlytop .item:not(.top) {
  display: none;
}
