body {
  padding: 0;
  margin: 0;
  background: #000;

  --border: #333;
}
.homebody {padding: 200px 0 90px;}
.stbody {padding: 170px 0 90px;}
.topbody {padding: 150px 0 90px;}
.teambody {padding: 150px 0 90px;}

.mainheader {
  border-bottom: 1px solid var(--border);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: black;
}
.mainheader .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
}

.secondaryheader {
  padding: 1rem;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 61px;
  right: 0;
  left: 0;
  z-index: 10;
  background: black;;
}
.secondaryheader .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.datewrapper {
  overflow-y: auto;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 112px;
  left: 0;
  right: 0;
  white-space: nowrap;
  z-index: 10;
  background: black;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid var(--border);
}
.datewrapper li {
  display: inline-block;
}
.datewrapper a {
  padding: 5px;
  font-family: "Noto Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  text-decoration: none;
}
.datewrapper a.current {
  color: black;
  background: white;
}
.datewrapper a span {
  line-height: .9;
}
.datewrapper a .day {
  font-size: 1rem
}
.datewrapper a .month {
  font-size: .6rem
}

.date {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  margin: 0 .5rem;
}

.games {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 280px;
  position: relative;
  z-index: 0;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  .games {
    max-width: none;
  }
}

.item {
  display: flex;
  position: relative;
  margin-bottom: 3rem;
  border: 2px solid #fff;
  padding: 0;
  overflow: hidden;
}

.team {
  flex: 1;
  z-index: 1;
  display: flex;
  justify-content: end;
  margin: 0;
  transition: transform 300ms;
}

.open .team.away,
.withscores .team.away {
  transform: translate(-50%);
}

.open .team.home,
.withscores .team.home {
  transform: translate(50%);
}

.logo {
  width: 110%;
  display: block;
  aspect-ratio: 16/11;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item .team:last-child {
  display: flex;
  justify-content: start;
}

.flag {
  font-family: "Noto Sans", sans-serif;
  color: #666;
  border: 1px solid var(--border);
  background: rgba(255, 255, 255, .1);
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
}
.flag.selected {
  background: rgba(255, 255, 255, .8);
  color: black;
}
.flag input {display: none}

.flag + .flag {
  margin-left: 1rem;
}

.score {
  position: absolute;
  font-family: "Bebas Neue";
  z-index: 0;
  font-size: 2rem;
  color: #666;
  left: 0;
  top: 1rem;
  right: 0;
  width: 100%;
  text-align: center;
}
.score .winner {
  color: white;
}

.teamlogo {
  background-size: cover;
  width: 50px;
  aspect-ratio: 1;
}

.gamedate {
  position: absolute;
  font-family: "Bebas Neue";
  z-index: 0;
  font-size: 1.1rem;
  color: white;
  background: black;
  bottom: .3rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  text-align: center;
  line-height: 30px;
  padding: 0 .25rem;
  margin: auto;
}

.onlytop .item:not(.top) {
  display: none;
}

@font-face {
  font-family: 'ds_digital';
  src: url('fonts/ds_digital/DS-DIGI.TTF');
}


.menuopener {
  background: transparent;
  border: 1px solid transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 0;
  aspect-ratio: 1;
  text-decoration: none;
}

.nav {
  padding: 1rem;
  display: block;
  justify-content: start;
  align-items: center;
  position: fixed;
  bottom: 83px;
  right: 0;
  left: 0;
  z-index: 100;
  background: #1C0066;
  transform: translateY(1200px);
  transition: all 300ms;
  will-change: transform;
}
.nav.visible {
  transform: translateY(0);
}
.nav .container {
  width: 100%;
}
.navitem {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3rem;
  padding: .5rem 0;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.favbtn {
  color: white;
  margin-right: .5rem;
  background: transparent;
  border: none;
}
.favbtn span {
  font-size: 2rem;
}

.teamgridtitle {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.teamgrid {
  display: block;
  overflow: auto;
  width: 100%;
  white-space: nowrap;
}
.teamgrid a {
  display: inline-block;
  height: 80px; 
  aspect-ratio: 1;
  background-size: cover;
  margin-left: 0.5rem;
}
.teamgrid a:first-child {
  margin-left: 0;
}

footer {
  box-shadow: 0 -3px 3px rgba(0,0,0,.6);
  background-color: #000;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
footer .container {
  display: flex;
  align-items: center;
}
footer div {
  flex: 1;
}
footer a {
  flex: 1;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: .9rem;
  text-align: center;
  color: #666;
  text-decoration: none;
}
footer a.active {
  color: #fff;
}

.navopener {
  width: 62px;
  aspect-ratio: 1;
  background-color: #1C0066;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: .8rem;
  color: white;
  margin: 0 auto;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
}

.standingwrapper {
  display: flex;
  margin-top: -110px;
}

.standing {
  padding: 0;
  margin: 0;
  flex: 1;
}

.standing .conf {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #666;
}

.standing li {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  margin: 1rem;
}
.standing li .teamlogo {
  margin-right: 1rem;
}

.standing li:not(.conf) {
  padding-left: .5rem;
}

.standing li:nth-child(8) {
  border-bottom: 1px dashed white;
  padding-bottom: 1rem;
}

.notif {
  position: fixed;
    left: 0;
    right: 0;
    width: 240px;
    background: rgba(0,0,0,.8);
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    bottom: 2rem;
    border-radius: 30px;
    margin: auto;
    z-index: 9000;
}