body {
  padding: 170px ​0 80px;
  margin: 0;
  background: #000;
}

.mainheader {
  padding: 1rem;
  border-bottom: 1px solid #333;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: black;;
}
.mainheader .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondaryheader {
  padding: 1rem;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 85px;
  right: 0;
  left: 0;
  z-index: 10;
  background: black;;
}
.secondaryheader .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.datewrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datewrapper a {
  background: transparent;
  border: 1px solid transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 0;
  aspect-ratio: 1;
  text-decoration: none;
}

.date {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  margin: 0 .5rem;
}

.games {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 280px;
  position: relative;
  z-index: 0;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  .games {
    max-width: none;
  }
}

.item {
  display: flex;
  position: relative;
  margin-bottom: 3rem;
  border: 2px solid #fff;
  padding: 0;
  overflow: hidden;
}

.team {
  flex: 1;
  z-index: 1;
  display: flex;
  justify-content: end;
  margin: 0;
  transition: transform 300ms;
}

.withscores .team.away {
  transform: translate(-50%);
}

.withscores .team.home {
  transform: translate(50%);
}

.logo {
  width: 110%;
  display: block;
  aspect-ratio: 16/11;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item .team:last-child {
  display: flex;
  justify-content: start;
}

.flag {
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  border: 1px solid #666;
  background: rgba(255, 255, 255, .1);
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
}
.flag.selected {
  background: rgba(255, 255, 255, .8);
  color: black;
}
.flag input {display: none}

.flag + .flag {
  margin-left: 1rem;
}

.score {
  position: absolute;
  font-family: "Bebas Neue";
  z-index: 0;
  font-size: 2rem;
  color: #666;
  left: 0;
  top: 1rem;
  right: 0;
  width: 100%;
  text-align: center;
}
.score .winner {
  color: white;
}

.teamlogo {
  background-size: cover;
  width: 50px;
  aspect-ratio: 1;
}

.gamedate {
  position: absolute;
  font-family: "Bebas Neue";
  z-index: 0;
  font-size: 1.1rem;
  color: white;
  background: black;
  bottom: .3rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  text-align: center;
  line-height: 30px;
  padding: 0 .25rem;
  margin: auto;
}

.onlytop .item:not(.top) {
  display: none;
}

@font-face {
  font-family: 'ds_digital';
  src: url('fonts/ds_digital/DS-DIGI.TTF');
}


.menuopener {
  background: transparent;
  border: 1px solid transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 0;
  aspect-ratio: 1;
  text-decoration: none;
}

.nav {
  padding: 1rem;
  display: block;
  justify-content: start;
  align-items: center;
  position: fixed;
  bottom: 83px;
  right: 0;
  left: 0;
  z-index: 100;
  background: #1C0066;
  transform: translateY(1200px);
  transition: all 300ms;
  will-change: transform;
}
.nav.visible {
  transform: translateY(0);
}
.nav .container {
  width: 100%;
}
.navitem {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3rem;
  padding: .5rem 0;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.favbtn {
  color: white;
  margin-right: .5rem;
  background: transparent;
  border: none;
}
.favbtn span {
  font-size: 2rem;
}

.teamgridtitle {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.teamgrid {
  display: block;
  overflow: auto;
  width: 100%;
  white-space: nowrap;
}
.teamgrid a {
  display: inline-block;
  height: 80px; 
  aspect-ratio: 1;
  background-size: cover;
  margin-left: 0.5rem;
}
.teamgrid a:first-child {
  margin-left: 0;
}

/* LOGOS */
.otherlogo {
  height: 50px;
  aspect-ratio: 1;
  color: white;
  position: relative;
  background: #ff333315;
  border: 1px solid #ff333350;
  width: 52px;
}

.otherlogo span {
  display: block;
  font-family: "ds_digital";
  font-size: 2rem;
  height: 46px;
  width: 100%;
  text-align: center;
  line-height: 52px;
  position: absolute;
}

.otherlogo .bg::before,
.otherlogo .bg::after {
  content: '0';
  color: rgba(255, 0, 0, .15);
  width: 50%;
  display: inline-block;
  width: 20px;
  text-align: right;
}

.otherlogo .time::before,
.otherlogo .time::after {
  color: #f33;
  width: 50%;
  display: inline-block;
  width: 20px;
  text-align: right;
  z-index: 1;
}

.otherlogo .time::before {
  content: 'B';
  transition: all 200ms;
}
.otherlogo .time::after {
  content: 'B';
  transition: all 200ms;
}

.otherlogo .time::before {
  animation: countdown1 5s 1;
  animation-fill-mode: forwards;
  transition: all 200ms;
}
.otherlogo .time::after {
  animation: countdown2 5s 1;
  animation-fill-mode: forwards;
  transition: all 200ms;
}

@keyframes countdown1 {
  0% {content: '2'}
  4% {content: '2'}
  8% {content: '2'}
  12% {content: '2'}
  16% {content: '2'}
  20% {content: '1'}
  24% {content: '1'}
  28% {content: '1'}
  32% {content: '1'}
  36% {content: '1'}
  40% {content: '1'}
  44% {content: '1'}
  48% {content: '1'}
  52% {content: '1'}
  56% {content: '1'}
  60% {content: '0'}
  64% {content: '0'}
  68% {content: '0'}
  72% {content: '0'}
  76% {content: '0'}
  80% {content: '0'}
  84% {content: '0'}
  88% {content: '0'}
  92% {content: '0'}
  96% {content: 'B'}
}
@keyframes countdown2 {
  0% {content: '4'}
  4% {content: '3'}
  8% {content: '2'}
  12% {content: '1'}
  16% {content: '0'}
  20% {content: '9'}
  24% {content: '8'}
  28% {content: '7'}
  32% {content: '6'}
  36% {content: '5'}
  40% {content: '4'}
  44% {content: '3'}
  48% {content: '2'}
  52% {content: '1'}
  56% {content: '0'}
  60% {content: '9'}
  64% {content: '8'}
  68% {content: '7'}
  72% {content: '6'}
  76% {content: '5'}
  80% {content: '4'}
  84% {content: '3'}
  88% {content: '2'}
  92% {content: '1'}
  96% {content: 'B'}
}

footer {
  box-shadow: 0 -3px 3px rgba(0,0,0,.6);
  background-color: #000;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
footer .container {
  display: flex;
  align-items: center;
}
footer div {
  flex: 1;
}
footer a {
  flex: 1;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: .9rem;
  text-align: center;
  color: #666;
  text-decoration: none;
}
footer a.active {
  color: #fff;
}

.navopener {
  width: 62px;
  aspect-ratio: 1;
  background-color: #1C0066;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: .8rem;
  color: white;
  margin: 0 auto;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
}

.standingwrapper {
  display: flex;
  margin-top: -110px;
}

.standing {
  padding: 0;
  margin: 0;
  flex: 1;
}

.standing .conf {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #666;
}

.standing li {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  margin: 1rem;
}
.standing li .teamlogo {
  margin-right: 1rem;
}

.standing li:not(.conf) {
  padding-left: .5rem;
}

.standing li:nth-child(8) {
  border-bottom: 1px dashed white;
  padding-bottom: 1rem;
}