body {
  padding: 0;
  margin: 0;
}

.moneytimes {
  margin: 1rem auto;
  & li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    & .txt {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-family: "Bebas Neue";
    }
  }
}
