body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: #ccc;
}

.moneytimes {
  margin: 1rem auto;

  & li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #999;

    & .txt {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-family: "Bebas Neue";
    }
  }
}