.week {
  --size: 40px;
  width: calc(7 * var(--size));
  flex-wrap: wrap;
}

.day {
  min-width: var(--size);
  height: var(--size);
  display: inline-flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}

.day.picked {}